<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skip Lists</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    function showDiv() {
        document.getElementById('history').style.display = "block";
    }
</script>

<body align=center>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <legend>
                <h1>Skip Lists</h1>
            </legend>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <span class="text-left">
                A skip list is a data structure that is used for storing a sorted list of items with a help of
                hierarchy of
                linked lists that connect increasingly sparse subsequences of the items. A skip list allows the process
                of item
                look up in efficient manner.
                The skip list data structure skips over many of the items of the full list in one step, that’s why it is
                known as skip list
            </span>
            <br>
            <br>
                <div class="col-md-offset-3 col-md-6">
                <table class=" align-center" border="1" cellspacing>
                    <tr>
                        <th></th>
                        <th>Average Case</th>
                        <th>Worst Case</th>
                    </tr>
                    <tr>
                        <td>Space</td>
                        <td>O(n)</td>
                        <td>O(nlog n)</td>
                    </tr>
                    <tr>
                        <td>Search</td>
                        <td>O(log n)</td>
                        <td>O(n)</td>
                    </tr>
                    <tr>
                        <td>Insert</td>
                        <td>O(log n)</td>
                        <td>O(n)</td>
                    </tr>
                    <tr>
                        <td>Delete</td>
                        <td>O(log n)</td>
                        <td>O(n)</td>
                    </tr>
                    </table>
                    <br>
                </div>
                <div>
                    <br>
                    <img src="./imagelanding.png" alt = "Image of a skiplist" border = "3"/>
                </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <a href="constructform"><input type="submit" class="btn btn-default" value="next"></a>
            </div>
        </div>
    </div>
</body>

</html>