<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skip Lists</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    function showDiv() {
        document.getElementById('history').style.display = "block";
    }
</script>

<body align=center>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <legend>
                <h1>Skip Lists</h1>
            </legend>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br>
    <div class="row card">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 class="card-header">Menu</h4>
            <br>
            <div class="cardbody">
                <div>
                    <a href="insert"> <input type="submit" class="btn btn-success" value="Insert"></a>
                </div>
                <br>
                <div>
                    <a href="search"> <input type="submit" class="btn btn-success" value="Search"></a>
                </div>
                <br>
                <div>
                    <a href="delete"> <input type="submit" class="btn btn-success" value="Delete"></a>
                </div>
                <br>
                <!-- <div>
                    <a href="display"> <input type="submit" class="btn btn-success" value="Display"></a>
                </div> -->
                <!-- <br> -->
                <!-- <div>
                    <a href="viewadt"> <input type="submit" class="btn btn-success" value="ADT"></a>
                </div> -->
                <!-- <br> -->
                <div>
                    <a href="reset"> <input type="submit" class="btn btn-success" value="Landing"></a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>