<!DOCTYPE html>
<html lang="en">

<head>
    <title>Skip Lists</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    function showDiv() {
        document.getElementById('history').style.display = "block";
    }
</script>

<body align=center>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <legend>
                <h1>Skip Lists</h1>
            </legend>
        </div>
        <div class="col-md-4"></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>ADT</h4>
            <br>
            <p>...</p>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <a href="menu"> <input type="submit" class="btn btn-danger " value="back"></a>
            </div>
        </div>
    </div>
</body>

</html>